/* Custom Font */
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212;
  color: #fff;
  font-family: 'Centra', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
}

p, a, li, button, ul {
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

/* Navbar CSS */
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  box-shadow: 2px 18px 9px rgba(98, 98, 98, 0.1);
  background-color: #1F252E;
}

.letsconnect {
  font-weight: 700;
  background: linear-gradient(to right, #5db6cf, #d6c05c);
  transition: all 0.3s ease-in-out;
  padding: 12px 24px;
  color: white;
}

.letsconnect:hover {
  transform: scale(1.1); 
  background-color: transparent;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

.menu:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  background: linear-gradient(to right, #5db6cf, #d6c05c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Banner CSS */
.banner {
  margin-top: 0;
  padding: 180px 0 80px 0;
  background-color: #1F252E;
}

.banner .tagline {
  font-weight: 700;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  opacity: 0.8;
  letter-spacing: 0.7px;
  line-height: 1.5em;
  width: 96%;
}

.bannerimg {
  border-radius: 280px;
  box-shadow: 10px 25px 200px rgba(184, 184, 184, 0.1);
}

.arrow {
  font-size: 30px;
}

/* Skills */
.App {
  background-color: #1F252E;
}

.head {
  font-weight: 700;
  letter-spacing: 1px;
}

.skillscards {
  gap: 2rem;
}

.skillcard {
  background-color: transparent;
  border: none;
}

.card-title {
  font-weight: 700; 
  font-family: centra;
  letter-spacing: 0.9px;
}

.skillcard:hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}

/* Education */
.education {
  background-color: #121212;
}

.timeline {
  border-left: 3px solid #d4b26d;
}

.timeline-item {
  position: relative;
}

.timeline-stoppage .year {
  font-weight: 700;
  color: #d4b26d;
}

.timeline-content {
  background: linear-gradient(to right, rgba(93, 182, 207, 0.6), rgba(214, 192, 92, 0.6));
  box-shadow: 2px 2px 8px rgb(255, 255, 255);
}

/* Projects */
.projectcard {
  box-shadow: 2px 2px 10px #7e7e7e;
}

.projectcard Button {
  background: linear-gradient(to right, rgba(93, 182, 207, 0.6), rgba(214, 192, 92, 0.6));
}

.projectcards {
  gap: 2px;
  overflow-x: scroll;
}

.projectcards::-webkit-scrollbar{
  display: none;
}

.techstack {
  background: linear-gradient(to right, #5db6cf, #d6c05c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Lets Connect */
.connect {
  background: linear-gradient(to right, rgba(93, 182, 207, 0.3), rgba(214, 192, 92, 0.6));
}

.field {
  background: transparent;
  border-radius: 20px;
  color: white;
  margin-bottom: 20px;
}

.field .placeholder {
  color: white;
}

.inp {
  width: 49%;
}

.getintouch {
  width: 100%;
  height: auto;
  animation: vibrate 1s infinite ease-in-out;
}

@keyframes vibrate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


/* Footer */
.foothead {
  font-size: 40px;
  letter-spacing: 1px;
}

.social-icon a {
  width: 44px;
  height: 44px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 14px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 7px rgb(255, 255, 255);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(to right, rgba(93, 182, 207, 0.3), rgba(214, 192, 92, 0.6));
}

.social-icon a:hover {
  transform: scale(1.2);
}

.social-icon a img {
  width: 47%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
